body{
    background-color: #272A43;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-container{
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
}
.drum-icon{
    height: 2.2rem;
}
h1{
    color: white;
}
button{
    border: solid 0.7rem #3A3F5D ;
    height: 6rem;
    width: 6rem;
    margin: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}